
.home{
   position: relative;

   &_container{
      position: relative;
      padding-top: 4rem;
      row-gap: 3rem;
   }
   &_greeting{
      font-size: var(--h2-font-size);
      font-weight: var(--font-regular);
      color: var(--first-color);
   }
   &_name{
      font-size: var(--biggest-font-size);
   }
   &_image{
      position: relative;
      display: grid;
      overflow-y: clip;

      & .blob-animate{
         width: 250px;
         height: 250px;
         bottom: 0;
         justify-self: center;
      }
   }
   &_perfil{
      width: 320px;
      justify-self: center;
   }
   &_shadow, &_info, &_social, &_cv{
      position: absolute;
   }
   &_shadow{
      width: 100%;
      height: 375px;
      bottom: 1rem;
      z-index: 1;
      background: linear-gradient(180deg, 
                hsla(240, 100%, 2%, 0) 60%, 
                hsl(240, 100%, 2%) 85%);
   }
   &_info{
      z-index: 2;
      bottom: -1rem;
      justify-self: center;
   }
   &_split{
      font-size: var(--h3-font-size);
      font-weight: var(--font-regular);
      color: var(--first-color);
   }
   &_profession-1,
   &_profession-2{
      font-size: var(--bigger-font-size);
      text-align: center;
      overflow: hidden;
   }
   &_profession-1{
      position: relative;
      color: var(--first-color);

      &::after{
         content: '';
         width: 100%;
         height: 100%;
         background: linear-gradient(0deg,
                   hsl(0, 0%, 0%) 10%,
                   hsla(0, 0%, 0%, 0) 60%);
         position: absolute;
         top: 0;
         left: 0;
      }
   }
   &_profession-2{
      transform: translateY(-1rem);
   }
   &_social{
      z-index: 2;
      left: 0;
      align-self: center;
      display: flex;
      flex-direction: column;
      row-gap: .75rem;

      &-link{
         color: var(--title-color);
         font-size: 1.25rem;
         transition: transform .4s, color .4s;

         &:hover{
            color: var(--first-color);
            transform: translateX(.25rem);
         }
      }
   }
   &_cv{
      z-index: 2;
      right: -2.5rem;
      bottom: 2.5rem;
      rotate: -90deg;
      color: var(--text-color-light);
      font: var(--font-medium) var(--small-font-size) var(--second-font);
      display: flex;
      align-items: center;
      column-gap: .5rem;
      transition: color .4s;

      & i{
         font-size: 1rem;
      }
      &:hover{
         color: var(--first-color);
      }
   }
}
